

.active{
  border: 0.1px solid black ;
  /* margin: 2px; */
}

.active2{
  border: 0.1px solid goldenrod;
  /* margin: 2px; */
}

.grid{
  margin: 50px 10px 10px 30px;
}

.player-one-title{
  font-size: 20px;
  text-align: center;
  color: black;
}
.player-two-title{
  font-size: 20px;
  text-align: center;
  color: goldenrod;
}

#player-turn{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: crimson;
}

.grid-item{
  background-color: rgba(217, 217, 217, 0.5);
  height: 12.5vh;
  width: 12vw;
  margin: 1px 2px 1px 2px;
  display: inline-block;
}

.container{
  margin: 0 10px 50px 50px;
}

.cross{
  background-image: url('https://cdn.iconscout.com/icon/free/png-256/x-49-432960.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.circle{
  background-image: url('https://iconshow.me/media/images/ui/ios7-icons/png/256/circle-outline.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}